<div class="jumbotron">
  <h1 class="text-center">Game Reviews</h1>
  <h4>Welcome to Game Reviews, where you can add, comment or edit your favourite games for other people to comment on!<br>Please register and log in to your account to begin.</h4>
</div>
