<h1>New Reviews</h1>

<main class="container">
  <div class="row">
    <div class="col-12">
      <div class="row">

        <% game.forEach((game) => { %>


          <div class="card" style="width: 18rem;">
            <a href="/games/<%= game.id %>"><img class="card-img-top" src="<%= game.image %>" alt="Card image cap"></a>
            <div class="card-body">
              <h3 class="card-title"><%= game.name %></h3>
              <p class="card-text"><%= game.rating %></p>
            </div>
          </div>

          <% }); %>

      </div>
    </div>
  </div>
</main>
