<h1>New Reviews</h1>

<main class="container">
  <div class="row">
    <div class="col-12">
      <div class="row">

        <% games.forEach((game) => { %>
          <ul class="col-lg-4">
          <li class="col-12">
          <a href="/games/<%= game.id %>"><h3><%= game.name %></h3></a>
          <h4><%= game.review %></h4>
          <p><%= game.rating %></p>
          </li>
          </ul>
          <% }); %>

      </div>
    </div>
  </div>
</main>
