// import scss partials here
@import url('https://fonts.googleapis.com/css?family=Space+Mono');


body {
  background: #d9a7c7;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #fffcdc, #d9a7c7);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #fffcdc, #d9a7c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: black;
  text-shadow: 1px 0 0 white, 0 -1px 0 white, 0 1px 0 white, -1px 0 0 white;
  font-family: 'Space Mono', monospace;
}

.jumbotron {
  background-image: url('https://media.giphy.com/media/xUOxfjsW9fWPqEWouI/giphy.gif');
  background-position: 0% 25%;
  background-size: cover;
  padding: 12rem;
}

header {
  margin-bottom: 40px;
}

.review {
  padding-top: 20px;
}

.btn-info  {
  margin-left: 10px;
}

.game-buttons {
  padding-top: 20px;
}

.card {
  margin: 40px;
}

p {
  font-size: 14px;
}

.intro {
  text-align: justify;
}

.tip {
  width: 0px;
  height: 0px;
  position: absolute;
  background: transparent;
  border: 10px solid #FFD046;

}

.tip-left {
  top: 10px;
  left: -25px;
  border-top-color: transparent;
  border-left-color: transparent;
  border-bottom-color: transparent;
}

.dialogbox .body {
  position: relative;
  max-width: 300px;
  height: auto;
  margin: 20px 10px;
  padding: 5px;
  background-color: #EADAA2;
  border-radius: 3px;
  border: 5px solid #FFD046;
}

.body .message {
  min-height: 30px;
  border-radius: 3px;
  font-family: Arial;
  font-size: 14px;
  line-height: 1.5;
  color: black;
}

.leave-comment {
  margin-top: 5px;
}

.delete-comment {
  margin-top: -25px;
  margin-left: 10px;
}

.game-review {
  margin-left: 15px;
}
